@model Repo.QuestionBank
@{
    ViewBag.Title = "AddQuestionToBank";
}

<h2>AddQuestionToBank</h2>
<form method="post">
@Html.ActionLink("Import from File","ImportFile", new {QuestionBankID=Model.QuestionBankID });
    
    <div id="manual">
        
        <</div>

       </form>