@model IEnumerable<Repo.UserInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

|<a href="./UserPanel">User Panel</a>|
<a href="./EventPanel">Event Panel</a>|
<a href="./Institution">Institution Panel</a>|
<a href="./Organization">Organization Panel</a>|
<a href="./Question">Question Panel</a>|
<a href="./Subject">Subject</a>|