
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post">
    Email : <input name="Email" /> <br />
    Password <input name="Password" type="password" /><br />
    <input type="submit" />
</form> 